*,*:before, *:after{box-sizing:border-box;outline:none;}
*,body,html{
    -webkit-text-size-adjust: none;
    -webkit-appearance: none;
    max-height: 9001em;
}
html{
    height:100%;
    &.hidden{
        overflow: hidden;
    }
}
body{
    min-height:100%;
    width:100%;
    min-width:320px;
    font-family:arial,sans-serif;
    background:#fff;
    color:#3d3d3d;
    position:relative;
    font-size: 16px;
    line-height: 1;
}
img{
    vertical-align:bottom;
    border:0;
    max-width:100%;
}
.wrap{max-width:1024px;
    width:100%;
    margin:0 auto;
    position:relative;
    z-index:1;
}
ul{
    padding-left: 0;
    margin: 0;
}
input, textarea{
    &::-webkit-input-placeholder {color:#212121;}
    &:-moz-placeholder {color:#212121;opacity:1;}
    &::-moz-placeholder {color:#212121;opacity:1;}
    &:-ms-input-placeholder {color:#212121;}
}
.page-wrapper,body{
    &.hidden{
        overflow-y: scroll;
    }
}
.page-wrapper{
    max-width: none;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-width: 320px;
    width: 100%;
    margin: 0 auto;
}
.page-body {
    flex: 1;
}
p{
    color: #4b586d;
    font-size: 15px;
    font-family: "RobotoSlabRegular",Arial,sans-serif;
    line-height: 24px;
    letter-spacing: 0;
    margin: 0 0 15px;
}