.contacts { background: #59d556; height: 500px;
    .container-big {position: relative;}
    &__copyright {
        background: #4b586d;
        @include position(absolute, null 0 31px null);
        z-index: 1;
        color: #fff;
        font-family: $robotoreg;
        font-size: 14px;
        padding: 8px 7px 8px 27px;

        &:before {
            content: '';
            @include position(absolute, null, null, 0, -43px );
            background: url("../img/copyright-logo.png") no-repeat;
            width: 61px;
            height: 55px;
        }
    }
    &__title { color: #fff; margin-bottom: 40px;
        &:before {bottom: -16px;}
    }
    &__wrapper {
        min-width: 1178px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        position: relative;
    }

    &__info {float: left;width: calc(50% - 113px);padding-top: 28px;}
    &__photos {float: left;width: calc(50% + 113px);}
    &__info-wrapper { float: right; width: 477px; margin-bottom: 41px;}
    &__photo-wrapper { float: left; overflow: hidden; background: linear-gradient(45deg, #acacac 0%, #838787 100%);
        &:after{
            content: '';
            @include position(absolute, 0, 0, 0, 0);
            width: 100%;height: 100%;
            background: url(../img/office-bg.png);
            opacity: 0.1;
        }

        &:nth-child(1) {
            width: 47%;
            @include aspect-ratio(421,280);
            height: 280px;
            @media (max-width: 1182px) {
                width: 100%;
            }
        }

        &:nth-child(2) {
            width: 53%;
            @include aspect-ratio(460,280);
            height: 280px;
            @media (max-width: 1182px) {
                display: none;
            }
        }

        &:nth-child(3) {
            width: 74%;
            @include aspect-ratio(658,405);
            height: 405px;
            @media (max-width: 1182px) {
                width: 100%;
            }
        }

        &:nth-child(4) {
            width: 26%;
            @include aspect-ratio(658,405);
            height: 405px;
            @media (max-width: 1182px) {
                display: none;
            }
        }

        &:nth-child(5) {
            width: 33.33333333%;
            @include aspect-ratio(302,172);
            height: 172px;
            @media (max-width: 1182px) {
                width: 100%;
            }
        }

        &:nth-child(6) {
            width: 33.33333333%;
            @include aspect-ratio(302,172);
            height: 172px;
            @media (max-width: 1182px) {
                display: none;
            }
        }

        &:nth-child(7) {
            width: 33.33333333%;
            @include aspect-ratio(302,172);
            height: 172px;
        }
        img { position: absolute; object-fit: cover; width: 100%; height: 100%; top: 0;}
    }
    &__city-location-wrap { padding-left: 122px; margin-bottom: 36px;}
    &__city-link { font-family: $robotoreg; font-size: 18px; color: #fff; text-decoration: none; padding: 1px 22px 4px; float: left; text-align: center; border-radius: 5px; transition: 0.3s ease;
        &.active { transition: 0.3s ease; color: #159e31; background: #fff;}
    }
    &__city-info { position: relative; padding-left: 114px; margin-bottom: 20px;
        &:before {content: '';}
        &--adress { color: #4b586d; font-family: $robotoreg; letter-spacing: -0.5px;
            .icon { position: absolute; top: -9px; left: 45px; width: 26px; height: 40px;
                svg { width: 100%; height: 100%; fill: #fff;}
            }
        }
        &--phone { font-family: $robotoslabbold; font-size: 30px;
            .icon { position: absolute; top: 2px; left: 42px; width: 35px; height: 35px;
                svg { width: 100%; height: 100%; fill: #fff;}
            }
        }

        &--email {letter-spacing: -0.5px;
            .icon {@include position(absolute, -4px null null 41px);width: 37px;height: 28px;
                svg { width: 100%; height: 100%; fill: #fff;}
            }
        }
    }

    &__city-info-phone-link { color: #4b586d; text-decoration: none;
    }

    &__city-info-email-link { color: #fff; text-decoration: none; font-family: $robotoreg;
    }

    &__city-info-wrap { display: none; margin-bottom: 35px;
        &.active {display: block;}
    }

    &__social-links {padding-left: 113px; display: flex;
        //ниже соц.блок для меню в хедере
        &--header { padding-left: 0; margin-bottom: 34px;
            .contacts__social-link .icon svg {fill: #fff;}
        }
    }

    &__social-link { display: inline-block; width: 33px; height: 31px; background: #4b586d; border-radius: 5px; position: relative; transition: background 0.3s ease;
        .icon { width: 60%; height: 60%; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); display: block;
            svg { width: 100%; fill: #59d556; height: 100%; transition: fill 0.3s ease;}
        }
        &:not(:last-child) {margin-right: 11px;}
        &--vk {
            &:hover { background: #4d76a1; transition: background 0.3s ease;
                svg { fill: #fff; transition: fill 0.3s ease;}
            }
        }
        &--fb {
            &:hover { background: #3a559f; transition: background 0.3s ease;
                svg { fill: #fff; transition: fill 0.3s ease;}
            }
        }
        &--google {
            &:hover { background: #dd4b39; transition: background 0.3s ease;
                svg { fill: #fff; transition: fill 0.3s ease;}
            }
        }
        &--insta {
            &:hover { background: #c536a4; transition: background 0.3s ease;
                svg { fill: #fff; transition: fill 0.3s ease;}
            }
        }
        &--linkedin {
            &:hover { background: #0084b1; transition: background 0.3s ease;
                svg { fill: #fff; transition: fill 0.3s ease;}
            }
        }
        &--youtube {
            &:hover {background: #d22215;transition: background 0.3s ease;
                svg { fill: #fff; transition: fill 0.3s ease;}
            }
        }
    }
    &__map {width: 100%;height: 432px;display: block;}
}